# Temporary Files
*.sw[mnopl]
*.py[co]
*.[ao]
tags
*.out
*~
.session.vim
*.byobu
.obsidian/

html/**

md/Cheatsheets/
md/cheatsheets/
md/lzone-cheat-sheets/
md/reference/
md/sigoden-notes/
md/doc
md/planD
_md/
